.c-button--small--enabled{
    padding: 10px 18px;
    font-size: 11px;
    font-weight: 900;
}

.c-button--small--enabled:hover{
    box-shadow: none;
    cursor: pointer;
    background-color: rgb(255, 160, 0);
}

.c-button--small--disabled{
    border-color: #D6D6D6;
    background-color: #D6D6D6;
    font-size: 11px;
    font-weight: 900;
    padding: 10px 18px;
    box-shadow: none;
}