body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    align-items: center;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(5, 125px);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}

.box {
    border: 2px solid black;
    border-radius: 10px;
    height: 125px;
}

.box:nth-child(odd) {
    background: black;
}