.c-level-label {
    padding: 4px 8px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;

    &--beginner {
        background-color: $blue-800;
        color: #fff;
    }
}