$primary-50: #DFF4F1;
$primary-300: #41BEAD;
$primary-400: #00AF9B;
$secondary-color:#FF9100;
$grey-50: #F8F8F8;
$grey-200: #E6E6E6;
$grey-500: #919191;
$grey-600: #696969;
$grey-700: #565656;
$blue-50: #E3F3FD;
$blue-400: #44A9F8;
$blue-800: #676781;
$violet-500: #9A5DC6;
$price-500: #FC4C50;