footer{
    margin-top: 150px !important;
    padding-top: 35px;
    border-top: 1px solid gray;
    display: flex;
    margin: 0 auto;
    width: 1200px;
    position: relative;
    padding-bottom: 36px;
}

footer section {
    display: flex;
    align-items: center;
}

footer section ul{
    display: flex;
}

footer section img {
    height: 30px;
    margin-right: 25px;
}