header {
    background: url("/images/about-page-hero.jpg");
    height: 530px;
    background-size: cover;
    box-shadow: inset 0 0 0 1044px rgba(64, 159, 228, 0.9);
}

header nav {
    background-color: white;
    display: flex;
    height: 75px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 1250px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

header ul {
    display: flex;
    margin-left: 500px;
    color: rgb(102, 113, 126);
}

header nav button {
    padding: 15px 10px;
    border: none;
    color: white;
    background-color: rgb(66, 171, 248);
    margin-right: 30px;
    border-radius: 7px;
    box-shadow: 5px 6px 12px 0px #5abef9;
    font-weight: bold;
}