body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
    margin: 20px;
}

article {
    justify-self: stretch;
    background-color: black;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
}

span {
    font-size: 10px;
    padding-left: 20px;
}