.galleries {
    margin: 30px 75px;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(8, 300px);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    justify-content: center;
}

img {
    object-fit: cover;
    justify-self: stretch;
    align-self: stretch;
}

.picture-2{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;

}

.picture-6{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

.picture-7{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
}

.picture-8{
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
}

.picture-11{
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 3;
    grid-column-end: 5;
}

.picture-12{
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 3;
}