.c-cta {
    background-color: #44a9f8;
    color: white;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 8px 15px 1px rgba(27,139,249,.4);
}

.c-cta:hover {
    text-decoration: none;
}