.c-main-nav__list {

  @for $i from 1 through 5 {
    li:nth-child(#{$i}) {
      animation-delay: #{0.2 * $i}s;
    }
  }

  &-item {
    @keyframes animateNavLi {
      0% {
        transform: translateY(-100px);
      }

      100% {
        transform: translateY(0px);
        opacity: 1;
      }
    }

    a {
      transition: color 0.4s ease-out;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

.c-footer__nav__section {

  & li {
    transition: filter 0.4s ease-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      // color: $primary-300;
      filter: brightness(0) saturate(100%) invert(66%) sepia(56%) saturate(433%) hue-rotate(122deg) brightness(88%) contrast(87%);
    }
  }
}

.img-circle--main {
  transition: transform 2s ease-out;

  &:hover {
    transform: rotate(360deg);
  }
}

@keyframes animateBtn {
  0% {
    box-shadow: 0 0 0 0 rgb(236, 142, 2), 0 0 0 0 rgb(236, 142, 2);
  }

  30% {
    box-shadow: 0 0 0 12px rgba(29, 171, 209, 0), 0 0 0 0 rgb(236, 142, 2);
  }

  65% {
    box-shadow: 0 0 0 12px rgba(29, 171, 209, 0), 0 0 0 10px rgba(29, 171, 209, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(29, 171, 209, 0), 0 0 0 10px rgba(29, 171, 209, 0);
  }
}