body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

table {
    border: 1px solid #234465;
    padding: 1%;
    margin: 0 auto;
    width: 70%;
    border-radius: 7px;
    color: #234465;
}

table th {
    text-decoration: underline;
    text-align: left;
}

table tbody td {
    text-align: left;
    padding: 0.5%;
}

table tbody tr:nth-child(even) {
    background-color: #234465;
    color: greenyellow;
}

table tbody tr:nth-child(odd) {
    color: #234465;
    border-bottom: 1px solid black;
}

table tbody tr:nth-child(odd) button {
    background: #234465;
    color: white;
}

table tbody tr:nth-child(even) button {
    background: white;
    color: #234465;
}

table tr:hover {
    text-decoration: underline;
}

form input {
    margin-bottom: 0.5%;
    width: 10%;
    padding: 0.2%;
    color: greenyellow;
    background: #234465;
}

::placeholder {
    color: greenyellow;
}

form {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #234465;
}

form button {
    margin: 0 auto;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 8px;
    background-color: greenyellow;
    color: blue;
    border: none;
    padding: 0.5%;
}

label,
input {
    display: block;
    margin: 0 auto;
}