body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'header header header' 'main main sidebar' 'footer footer footer';
    row-gap: 20px;
    column-gap: 20px;
    margin: 20px;
}

.item-a {
    grid-area: header;
}

.item-b {
    grid-area: main;
}

.item-c {
    grid-area: sidebar;
}

.item-d {
    grid-area: footer;
}

body>* {
    background-color: black;
    color: white;
    height: 40px;
    padding-top: 20px;
    padding-left: 20px;
}

@media all and (max-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 'header' 'main' 'sidebar' 'footer';
    }
}