html {
    font-family: sans-serif;
    font-size: 20px;
}

.icons {
    list-style: none;

    @for $i from 1 through 10 {
        li:nth-child(#{$i}) {
            animation-delay: #{0.2 * $i}s;
        }
    }
    
    & li {
        opacity: 0;
        padding: 1px;
        width: 10%;
        height: 3%;
        display: flex;
        text-align: center;
        align-items: center;
        animation: shimmy 1s ease-out forwards;

        @keyframes shimmy {
            0% {
                transform: translateX(-40px);
            }
    
            100% {
                transform: translateX(0px);
                opacity: 1;
            }
        }

        & i {
            margin-right: 15px;
        }
    }
}