<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>Fancy List Animation</title>
</head>

<body>
  <main>
    <ul class="list-items">
      <li class="list-item">
        <i class="fas fa-house-damage"></i>
        <span class="list-item-text">Home</span>
      </li>

      <li class="list-item">
        <i class="fas fa-project-diagram"></i>
        <span class="list-item-text">Products</span>
      </li>

      <li class="list-item">
        <i class="fas fa-concierge-bell"></i>
        <span class="list-item-text">Services</span>
      </li>

      <li class="list-item">
        <i class="fas fa-building"></i>
        <span class="list-item-text">Office</span>
      </li>

      <li class="list-item">
        <i class="fas fa-file-signature"></i>
        <span class="list-item-text">Contacts</span>
      </li>

      <li class="list-item">
        <i class="fas fa-user-tie"></i>
        <span class="list-item-text">About us</span>
      </li>

      <li class="list-item">
        <i class="fas fa-shopping-cart"></i>
        <span class="list-item-text">Basket</span>
      </li>

    </ul>
  </main>
</body>

</html>