::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px darkgray;
}

::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 8px;
}