.little-grey-rectangle {
    width: 100%;  
    height: 12px;
    background-color: #919191;
}

.footer-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
  

}
.footer-1-section {
    width: 145px;
}

.footer__img {
    position: relative;
    bottom: 91px;
    width: 220px;
    height: 403px;
}

.footer-section {
    background-color: #565656;
    height: 312px;
}

footer img {
    color: white;
}


.footer-middle-section{
    margin-top: 64px;
    padding-left: 45px;
    width: 109px;
    height: 20px;
}

.footer-first-section, .footer-1-section{
    padding-left: 50px;
    width: 123px;
    height: 20px;
}

.footer-2-section, .footer-3-section {
    height: 202px;
}

footer div {
    width: 145px;
    margin-right: 15px;
}