@import "../settings/settings-colors.scss";

.footer {
    margin-top: 150px;
    background-color: $grey-700;
    border-top: 12px solid $grey-500;
    height: 312px;
    position: relative;

    &__container {
        display: flex;
    }

    &__img {
        position: relative;
        bottom: 103px;
        margin-right: 75px;
    }

    &__items {
        display: flex;
        margin-bottom: 115px;
        width: 100%;
        margin-left: 75px;
    }

    .position-relative {
        position: relative;
        right: 120px;
    }

    .position-relative-second {
        right: 8px;
    }

    &__ul {
        margin-left: 50px;
    }

    &__ul h5 {
        width: 180px;
        height: 0px;
    }

    &__ul ul {
        display: flex;
        flex-flow: column wrap;
        height: 170px;
        margin-left: -50px;
    }

    &__ul ul li {
        list-style: none;
        padding: 7px 12px;
    }

    &__ul ul li a {
        text-decoration: none;
        color: $grey-200;
        font-size: 16px;
        line-height: 19px;
        font-weight: normal;
    }

    &__social-media {
        flex-flow: row !important;
        height: 65px !important;
    }

    &__text {
        color: $grey-500;
        width: 180px;
    }
}

.footer section ul li:hover {
    cursor: pointer;
    // color: $primary-300;
    filter: brightness(0) saturate(100%) invert(66%) sepia(56%) saturate(433%) hue-rotate(122deg) brightness(88%) contrast(87%);
}