@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Lato:wght@400&display=swap');

html {
    padding: 50px 50px 0 50px;
    font-family: Lato, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body h1, body h2 {
    font-family: Cormorant, serif;
    line-height: 1.2;
    font-weight: bold;
    padding-top: 40px;
}