.c-red__50 {
    background-color: rgb(255, 235, 239);
}

.c-red__100 {
    background-color: rgb(255, 205, 211);
}

.c-red__200 {
    background-color: rgb(247, 153, 155);
}

.c-red__300 {
    background-color: rgb(240, 112, 115);
}

.c-red__400 {
    background-color: rgb(252, 76, 80);
}

.c-red__500 {
    background-color: rgb(255, 54, 50);
}

.c-red__600 {
    background-color: rgb(243, 43, 51);
}

.c-red__700 {
    background-color: rgb(225, 30, 45);
}

.c-red__800 {
    background-color: rgb(212, 19, 37);
}

.c-red__900 {
    background-color: rgb(197, 0, 24);
}