@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "PT sans", sans-serif;
    font-size: 24px;
    color: #234465;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    flex-wrap: wrap;
}
#main{
    background: url(images/background.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
}
#navigation{
    background: #234465;
    display: inline-block;
    padding: 0.5rem;
    width: 100%;
}
#navigation-text{
    display: inline-block;
}
#lecture-name, #problem-name{
    font-family: "Lato", sans-serif;
    color: white;
    font-weight: bold;
}
#lecture-name{
    font-size: 28px;
    margin-bottom: 0.8rem;
}
#problem-name{
    font-size: 22px;
    color: white;
}
#logo-img{
    width: 17%;
    float: right;
    padding: 0.5rem 0.5rem 0 0;
}
#softUni-person-img{
    width: 30%;
    padding: 0;
    float: left;
}
#exercise{
    width: 70%;
    float: left;
    padding: 1rem 0 1rem 1rem;
    text-align: center;
    margin-top: 3%;
}
main:after{
    display: block;
    content:'';
    clear: both;
}
#year{
    border:1px solid black;
    width: 30%;
    height: 30vh;
    margin: 0 auto;
}
#year h2{
    height: 30%;
    width: 100%;
    background-color: orangered;
    margin: 0 auto;
    text-align: center;
    color: white;
}
#year div{
    width: 100%;
    height: 70%;
    text-align: center;
    padding-top: 15%;
    font-size: 30pt;
}
#exercise input{
    width: 30%;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
}
#exercise button{
    width: 30%;
    background: #234465;
    color: white;
    border: none;
    height: 5vh;
    font-weight: bold;
}