@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
    margin: 0;
    font-family: 'Gelasio', serif;
}

.sec-first {
    position: relative;
    width: 100%;
    height: 710px;
    background-image: url("./images/map.jpg");
    background-size: cover;
    background-position: 50% 0%;
}

.img-logo {
    width: 70px;
    height: 60px;
    position: absolute;
    left: 20px;
    top: 10px;
}

h1 {
    position: absolute;
    color: white;
    left: 17%;
    top: 40%;
    font-size: 6em;
}

.btn-start{
    position: absolute;
    color: white;
    left: 46%;
    top: 68%;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    background-color: #26637d;
}

.btn-login{
    position: absolute;
    color: white;
    left: 89%;
    font-size: 1.5em;
    border: none;
    background-color: transparent;
    padding: 8px 15px;
    top: 15px;
}

.fa-search{
    position: absolute;
    color: white;
    left: 95%;
    font-size: 1.5em;
    top: 23px;
}

.img-packing{
    width: 480px;
    height: 600px;
    background-size: cover;
    background-position: 50% 55%;
    background-image: url("./images/packing.jpg");

}

.img-column{
    width: 700px;
    height: 300px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("./images/planning.jpg");
}

.sect-3img{
    display: flex;
    justify-content: center;
    position: relative;
}

h4{
    position: absolute;
    color: white;
    font-size: 2em;
}

.article-2img{
    background-image: url("./images/planning.jpg");
}

.article-3img{
    background-image: url("./images/budget.jpg");
}

.h4-pack{
    left: 400px;
}

.h4-plan{
    left: 900px;
    top: -40px;
}

.h4-budget{
    left: 815px;
    top: 490px;
}

h3 {
    margin-left: 325px;
    font-size: 2em;
    color: rgb(85, 85, 85);
    padding-top: 40px;
    height: 20px;
}

.sec-second{
    background-color: rgb(225, 225, 225);
    margin-top: -55px;
    height: 710px;
}

footer {
    background-color: rgb(132, 132, 132);
    display: flex;
    margin-top: -18px;
    height: 100px;
}

footer ul {
    display: flex;
    margin-left: 145px;
    margin-top: 40px;
    color: #d0d0d0;
}

footer ul li{
    display: flex;
    margin-left: 10px;
}

footer ul li a{
    margin-left: 20px;
    text-decoration: none;
    color: #d0d0d0;
}

.right-border{
    border-right: 1px solid #d0d0d0;
    height: 20px;
    padding-right: 15px;
}