@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    border: 2px solid;
    border-radius: 3px;
    border-color: rgb(238, 129, 5);
    background-color: rgb(238, 129, 5);
    width: 6.3rem;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 2px;
    padding-right: 5px;
}

body p:first-child {
    border-color: rgb(0, 111, 0);
    background-color: rgb(0, 111, 0);
    width: 6rem;
    padding-top: 7px;
    padding-bottom: 7px;
}

body p a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
}

body p a i {
    color: rgb(251, 251, 251);
    padding-right: 5px;
}