body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    margin: 20px;
}

body>*{
    background-color: black;
    color: white;
    height: 40px;
    padding-top: 20px;
    padding-left: 20px;
}

header, 
footer{
    grid-column-start: 1;
    grid-column-end: 4;
}

main{
    grid-column-start: 1;
    grid-column-end: 3;
}
