.c-card {
    /* Abstract into mixin */
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    padding: 20px;
    border: 2px solid #000;
    box-shadow: 0 0 5px #000;
}

.c-card p {
    margin: 0;
}

.c-card h1 {
    margin-top: 0;
}