.c-popup {
    position: relative;

    &__trigger {
        &:hover {
            + .c-popup__bubble {
                opacity: 1;
                transform: translateX(-50%) scale(1);
            }
        }
    }

    &__bubble {
        @include horizontal-center-absolute;

        min-width: 390px;
        position: absolute;
        top: -100px;
        transform: translateX(-50%) scale(0);
        opacity: 0;
        transition: transform 0.4s, opacity 0.5s ease-out;
        transform-origin: bottom center;

        &::after {
            @include horizontal-center-absolute;

            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid #fff;
            position: absolute;
            bottom: -15px;
        }
    }
}