@import '../01-settings/settings-colors.scss';

a { 
    text-decoration: none;

    &:hover{
        cursor: pointer;
    }
}

li{
    list-style-type: none;
}

ul{
    padding: 0;
    margin: 0;
}