.c-primary__50 {
    background-color: rgb(255, 248, 225);
}

.c-primary__100 {
    background-color: rgb(255, 237, 179);
}

.c-primary__200 {
    background-color: rgb(255, 225, 131);
}

.c-primary__300 {
    background-color: rgb(255, 214, 80);
}

.c-primary__400 {
    background-color: rgb(255, 203, 41);
}

.c-primary__500 {
    background-color: rgb(255, 195, 9);
}

.c-primary__600 {
    background-color: rgb(255, 180, 1);
}

.c-primary__700 {
    background-color: rgb(255, 160, 0);
}

.c-primary__800 {
    background-color: rgb(255, 145, 0);
}

.c-primary__900 {
    background-color: rgb(255, 113, 0);
}
