body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 130px);
    grid-template-rows: repeat(11, 30px);
}

article {
    padding: 5px;
}

.a{
    background-color: rgb(127, 255, 212);
    grid-column: 1;
    grid-row: 11/12;
}

.b{
    background-color: rgb(255, 255, 0);
    grid-column: 2;
    grid-row: 8/12;
}

.c{
    background-color: rgb(255, 192, 203);
    grid-column: 3;
    grid-row: 10/12;
}

.d{
    background-color: rgb(98, 227, 231);
    grid-column: 4;
    grid-row: 5/12;
}

.e{
    background-color: rgb(203, 243, 130);
    grid-column: 5;
    grid-row: 1/12;
}

.f{
    background-color: rgb(119, 24, 207);
    grid-column: 6;
    grid-row: 4/12;
}

.g{
    background-color: rgb(247, 141, 21);
    grid-column: 7;
    grid-row: 11/12;
}