@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) and (max-width:899px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) and (max-width:1199px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) and (max-width:1799px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }