$primary-50:#DFF4F1;
$primary-300:#41BEAD;
$primary-400:#00AF9B;

$secondary-800: #FF9100;

$grey-50: #F8F8F8;
$grey-100:#F1F1F1;
$grey-200:#E6E6E6;
$grey-400:#B2B2B2;
$grey-500: #919191;
$grey-600: #676781;
$grey-700: #565656;

$blue-50:#E3F3FD;
$blue-400:#44A9F8;

$violet-400:#9A5DC6;

$red-400:#FC4C50;