body {
    margin: 20px 60px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px;
    row-gap: 10px;
    column-gap: 10px;
}

img {
    object-fit: cover;
    justify-self: stretch;
    align-self: stretch;
}

.picture-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.picture-2 {
    grid-column: 2/4;
    grid-row: 1/3;
}

.picture-3 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.picture-4 {
    grid-column: 3/5;
    grid-row: 6/8;
}

.picture-5 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.picture-6 {
    grid-column: 4/5;
    grid-row: 5/6;
}

.picture-7 {
    grid-column: 1/3;
    grid-row: 3/5;
}

.picture-8 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.picture-9 {
    grid-column: 1/3;
    grid-row: 5/7;
}

.picture-10 {
    grid-column: 1/3;
    grid-row: 7/9;
}

.picture-11 {
    grid-column: 3/5;
    grid-row: 3/5;
}

.picture-13 {
    grid-column: 3/4;
    grid-row: 5/6;
}

.picture-15 {
    grid-column: 3/4;
    grid-row: 8/9;
}

@media all and (max-width: 800px) {
    body {
        margin: 15px 15px;
        display: grid;
        grid-template-columns: 350px 350px;
        grid-auto-rows: 250px;
        direction: rtl;
    }
    img {
        object-fit: cover;
    }

    body>*{
        transform: scaleX(-1);
    }

    .picture-2, .picture-4, .picture-7, .picture-9, .picture-10, .picture-11 {
        grid-column: 1/3;
    }

    .picture-1, .picture-8, .picture-13, .picture-15 {
        grid-column: 1/2;
    }
    .picture-3, .picture-6, .picture-5 {
        grid-column: 2/3;
    }

    .picture-1, .picture-3 {
        grid-row: 1/2;
    }
    .picture-2 {
        grid-row: 2/4;
    }
    .picture-7 {
        grid-row: 4/6;
    }
    .picture-8, .picture-5 {
        grid-row: 6/7;
    }
    .picture-11 {
        grid-row: 7/9;
    }
    .picture-9 {
        grid-row: 9/11;
    }
    .picture-6, .picture-13 {
        grid-row: 11/12;
    }
    .picture-4 {
        grid-row: 12/14;
    }
    .picture-10 {
        grid-row: 14/16;
    }
    .picture-15 {
        grid-row: 16/17;
    }
}