@import '../01-settings/settings-colors.scss';
@import '../01-settings/settings-breakpoints.scss';
.programs {
    .programs__header {
        h1 {
            color: $primary-300;
        }
        p {
            color: $grey-700;
        }
    }
    .programs__content {
        display: flex;
        justify-content: space-between;
        min-height: 250px;
        margin: 4rem 0 7.5rem 0;
        @include for-tablet-portrait-up {
            flex-flow: column nowrap;
        }
        .program {
            max-width: 48%;
            margin: 0;
            box-sizing: border-box;
            border-radius: 12px;
            padding: 1rem;
            @include for-tablet-portrait-up {
                max-width: 100%;
                margin: 1rem 0rem;
            }
            &--blue {
                background-color: $blue-50;
                border: 4px solid $blue-400;
            }
            &--green {
                background-color: $primary-50;
                border: 4px solid $primary-400;
            }
            .program__header {
                display: flex;
                align-items: center;
                justify-content: center;
                .program__title {
                    padding-left: 20px;
                    &--blue {
                        color: $blue-400;
                    }
                    &--green {
                        color: $primary-400;
                    }
                }
            }
            .program__content {
                width: 90%;
                text-align: center;
                margin: 0 auto;
                color: $grey-700;
            }
        }
    }
}