.c-gallery {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 250px 250px;
  grid-template-rows: repeat(16, 250px);
  grid-template-areas: "img-2 img-1" "img-3 img-3" "img-3 img-3" "img-4 img-4" "img-4 img-4" "img-6 img-5" "img-7 img-7" "img-7 img-7" "img-8 img-8" "img-8 img-8" "img-10 img-9" "img-11 img-11" "img-11 img-11" "img-12 img-12" "img-12 img-12" "img-13 .";
  justify-content: center;
}

@media (min-width: 1024px) {
  .c-gallery {
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(8, 250px);
    grid-template-areas: "img-2 img-3 img-3 img-1" "img-6 img-3 img-3 img-5" "img-4 img-4 img-7 img-7" "img-4 img-4 img-7 img-7" "img-8 img-8 img-10 img-9" "img-8 img-8 img-11 img-11" "img-12 img-12 img-11 img-11" "img-12 img-12 img-13 .";
  }
}

.c-gallery__image--1 {
  grid-area: img-1;
}

.c-gallery__image--2 {
  grid-area: img-2;
}

.c-gallery__image--3 {
  grid-area: img-3;
}

.c-gallery__image--4 {
  grid-area: img-4;
}

.c-gallery__image--5 {
  grid-area: img-5;
}

.c-gallery__image--6 {
  grid-area: img-6;
}

.c-gallery__image--7 {
  grid-area: img-7;
}

.c-gallery__image--8 {
  grid-area: img-8;
}

.c-gallery__image--9 {
  grid-area: img-9;
}

.c-gallery__image--10 {
  grid-area: img-10;
}

.c-gallery__image--11 {
  grid-area: img-11;
}

.c-gallery__image--12 {
  grid-area: img-12;
}

.c-gallery__image--13 {
  grid-area: img-13;
}

.c-gallery__image--14 {
  grid-area: img-14;
}

.c-gallery__image--15 {
  grid-area: img-15;
}

.c-gallery__image--16 {
  grid-area: img-16;
}

.c-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
