@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html {
    font-size: 23px;
    margin: 5rem 5rem;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    background-color: rgb(230, 230, 230);
}

i,
label,
input {
    visibility: hidden;
}

header {
    width: 100%;
    display: flex;
    border-bottom: 2px solid black;
    position: relative;
}

nav {
    flex: 1;
    width: 100%;
}

header ul,
header ul li {
    display: inline-block;
}

p.site-title {
    margin: 0;
    font-size: 3rem;
    min-width: 190px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: -3%;
    padding-bottom: 2.5%;
}

header ul {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    bottom: 5%;
    right: 0;
    min-width: 190px;
}

header ul li {
    background-color: black;
    border-radius: 8px;
    padding: 12px 3px;
}

a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: -1px;
    color: white;
    padding: 40px 20px;
}

aside a {
    padding: 40px 0px;
}

header,
nav {
    display: flex;
}

main {
    width: 65%;
}

h2,
h3 {
    font-size: 180%;
    font-weight: 500;
    margin-bottom: 2%;
    font-family: Georgia, serif;
}

.heading-2-3 {
    margin-top: 60px;
}

aside a {
    color: rgb(0, 153, 0);
}


aside {
    float: right;
    margin-left: 11%;
}

blockquote {
    border-left: 3px solid rgb(175, 175, 175);
    font-family: Georgia, serif;
    font-style: italic;
    margin: 4% 0 4% 5%;
    padding-left: 4%;
    width: 40%;
}

blockquote>p:first-child {
    width: 80%;
}

.author {
    text-align: right;
    padding-bottom: 15%;
    padding-right: 15%;
}

img {
    padding: 10px;
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25);
}

.img-escalator {
    min-width: 100px;
    float: right;
    min-height: 180px;
    margin: 10px 30px 30px 20px;
}

.img-forest {
    min-width: 130px;
    float: left;
    margin: 0 3% 3% 0;
    min-height: 110px;
}

p:nth-last-child(2) {
    margin: 0 0 40px 0;
}

p.last-p {
    width: 100%;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.social h3 {
    margin-top: 2%;
}

aside li {
    list-style: square;
}

@media (max-width: 1800px) {

    /* For big desktop up ...*/
    html {
        font-size: 23px;
    }
}

@media (max-width: 1300px) {

    /* For desktop up ...*/
    html {
        font-size: 21px;
    }
}


@media (max-width: 800px) {

    /* For tablet portrait up ...*/
    html {
        font-size: 18px;
    }

    p.site-title {
        margin-left: 0;
    }

    header {
        border-bottom: none;
    }

    label {
        visibility: visible;
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translate(-50%, 80%);
        font-weight: bold;
    }

    i {
        visibility: visible;
        position: absolute;
        left: 45%;
        top: 38.5%;
        transform: translate(-50%, -50%);
        font-weight: bold;
    }

    header ul {
        position: absolute;
        top: 100px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        border-radius: 3px;
        height: 275px;
    }

    header ul li {
        margin: 5px;
    }

    main {
        width: 100%;
        margin-top: 330px;
    }

    .heading-2-3 {
        margin-top: 40px;
    }
}

@media (max-width: 399px) {

    /* For phone only ...*/
    html {
        font-size: 12px;
    }

    label {
        left: 52%;
        top: 101%;
        font-weight: bold;
    }

    i {
        left: 45%;
        top: 34.09%;
        font-weight: bold;
    }

    header ul {
        height: 240px;
    }

    .img-forest {
        margin: 5% 3% 10% 0;
    }

    .img-escalator {
        margin: 10px 0px 30px 20px;
    }

    p:nth-last-child(2) {
        margin: 0 0 20px 0;
    }

    aside {
        margin-left: 20%;
    }

    blockquote {
        margin: 8% 0 10% 10%;
        padding-left: 10%;
        width: 90%;
    }

    blockquote>p:first-child {
        width: 150px;
    }

    .author {
        width: 155px;
    }
}