html {
    font-size: 23px;
    margin: 5rem 5rem;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    background-color: rgb(230, 230, 230);
}

label,
input {
    visibility: hidden;
}

header {
    width: 100%;
    display: flex;
    border-bottom: 2px solid black;
    position: relative;
}

nav {
    flex: 1;
    width: 100%;
}

ul,
li {
    display: inline-block;
}

p.site-title {
    margin: 0;
    font-size: 3rem;
    min-width: 190px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

ul {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    top: -16px;
    right: 0;
    min-width: 190px;
}

li {
    background-color: black;
    border-radius: 8px;
    padding: 10px 5px;
}

a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: -1px;
    color: white;
    padding: 40px 20px;
}

header,
nav {
    display: flex;
}

@media (max-width: 1800px) {

    /* For big desktop up ...*/
    html {
        font-size: 23px;
    }
}

@media (max-width: 1300px) {

    /* For desktop up ...*/
    html {
        font-size: 21px;
    }
}


@media (max-width: 600px) {

    /* For tablet portrait up ...*/
    html {
        font-size: 16px;
    }

    header {
        border-bottom: none;
    }

    label {
        visibility: visible;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, 100%);
        font-weight: bold;
    }

    input {
        visibility: visible;
        position: absolute;
        left: 43%;
        top: 34.7%;
        transform: translate(-50%, -50%);
        font-weight: bold;
    }

    ul {
        position: absolute;
        top: 100px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        border-radius: 3px;
    }

    li {
        margin: 5px;
    }

}

@media (max-width: 399px) {

    /* For phone only ...*/
    html {
        font-size: 12px;
    }

    label {
        left: 52%;
        top: 101%;
        transform: translate(-50%, 101%);
        font-weight: bold;
    }

    input {
        left: 43%;
        top: 31.5%;
        transform: translate(-50%, -50%);
        font-weight: bold;
    }
}