.o-white-button {
    background-color: white;
    color: #42ABF8;
    border: none;
    border-radius: 10px;
    margin-right: 35px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.o-transparent-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 35px;
}