.container {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    margin: 30px 20px;
}

header, 
footer{
    grid-column-start: 1;
    grid-column-end: 4;
}

main{
    grid-column-start: 1;
    grid-column-end: 3;
}

.container > * {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 5px;
}