.program {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 137px;
}

.program__info {
  width: 65%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.program .program__info .program__subtitle {
  width: 850px;
  height: 40px;
}

.program__subtitle {
  width: 533px;
  height: 60px;
  text-align: center;
  padding-bottom: 32px;
}

.program__subtitle--gray-700 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #565656;
}

.program-cards {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 37px;
}

.program__card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 629px;
  height: 259px;
  margin-right: 32px;
  border-radius: 12px;
}

.program__card__background--blue-50 {
  background-color: #E3F3FD;
}

.program__card__border--blue-400 {
  border: 4px solid #44A9F8;
}

.program__card__background--primary-color-50 {
  background-color: #DFF4F1;
}

.program__card__border--primary-color-400 {
  border: 4px solid #00AF9B;
}

.program__heading-wrapper {
  display: flex;
  justify-content: space-between;
}

.program__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  padding-left: 28px;
}

.program__heading--primary-300 {
  color: #41BEAD;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
}

.program__heading--blue-400 {
  color: #44A9F8;
}

.program__heading--primary-color-400 {
  color: #00AF9B;
}

.program-card__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.program-card__heading--primary-color-300 {
  color: #41BEAD;
}

.program-card__heading--blue-400 {
  color: #44A9F8;
}
