.footer {
  margin-top: 150px;
  background-color: #565656;
  border-top: 12px solid #919191;
  height: 312px;
  position: relative;
}

.footer__container {
  display: flex;
}

.footer__img {
  position: relative;
  bottom: 103px;
  margin-right: 75px;
}

.footer__items {
  display: flex;
  margin-bottom: 115px;
  width: 100%;
  margin-left: 75px;
}

.footer .position-relative {
  position: relative;
  right: 120px;
}

.footer .position-relative-second {
  right: 8px;
}

.footer__ul {
  margin-left: 50px;
}

.footer__ul h5 {
  width: 180px;
  height: 0px;
}

.footer__ul ul {
  display: flex;
  flex-flow: column wrap;
  height: 170px;
  margin-left: -50px;
}

.footer__ul ul li {
  list-style: none;
  padding: 7px 12px;
}

.footer__ul ul li a {
  text-decoration: none;
  color: #E6E6E6;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
}

.footer__social-media {
  flex-flow: row !important;
  height: 65px !important;
}

.footer__text {
  color: #919191;
  width: 180px;
}

.footer section ul li:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(66%) sepia(56%) saturate(433%) hue-rotate(122deg) brightness(88%) contrast(87%);
}
