@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.viewport {
    position: relative;
    margin: 0;
    padding: 0;
}

.first-container {
    background: linear-gradient(to right, #1e5799 0%, #207cca 24%, #27cea1 67%);
    height: 490.5px;
}

.second-container {
    background: linear-gradient(to right, #af3a76 12%, #c67721 68%);
    height: 490.5px;
}

section.card {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    max-width: 100%;
    max-height: 100%;
}

.card::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    border-radius: 2px;
    box-shadow: inset 9px 0px 20px 4px rgba(0, 0, 0, 0.6);
}

img {
    display: block;
    border-radius: 2px;
    width: 300px;
}

section.lake>img {
    height: 175px;

}

section.mountain>img {
    height: 450px;
}

.lake .fa,
.mountain .fa {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
}