.c-cta {
    background-color: #44a9f8;
    color: #fff;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 8px 15px 1px rgba(27,139,249,.4);
}

.c-cta:hover {
    text-decoration: none;
}

.c-cta-solid-white{
    color: #42abf8;
    background: #fff;
    font-size: 16px;
    padding: 10px 35px;
}       

.c-cta-transperace {
    border: 1px solid;
    background: transparent;
    font-size: 16px;
    padding: 10px 35px;
}