@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.button {
    border: 2px solid rgb(51, 51, 51);
    border-radius: 50px;
    padding: 7.5px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-weight: 520;
    color:rgb(51, 51, 51);
    background-color: rgb(251, 251, 251);
    height:10%;
    display: inline-block;
    margin-left: 10px;
    outline: none;
}

button.fill,
a.button.fill{
    background-color: rgb(51, 51, 51);
    color: rgb(251, 251, 251);
}

.fill.hover:hover{
    color: rgb(251, 251, 251);
    background-color: rgb(0, 102, 0);
    border-color: rgb(0, 102, 0);
}

.hover:hover{
    color: rgb(0, 102, 0);
    border-color: rgb(0, 102, 0);
}