<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container">
        <a class="navbar-brand" href="">
            <img src="./images/idea.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {{#if isLoggedIn}}
                <li class="nav-item active">
                    <a class="nav-link" href="#/home">Dashboard</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#/x/create">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#/user/logout">Logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="#/user/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#/user/register">Register</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>