.btn {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.20);
    border-radius: 100px;
    border: none;
    outline: none;
    padding: 10px 22px;
    text-transform: uppercase;
    font-family: "Lato";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);
}

.btn--secondary {
    background: #FF9100;
    color: #fff;
}

.btn--third__section {
    text-transform: uppercase;
    background: #FF9100;
    color: #fff;
}

.btn--third__section {
margin-top: 30px;
}