{{> header}}

<form action="#/x/details/edit/{{xId}}" method="post">

    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Edit Event</h1>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputEventName" name="name" class="form-control" placeholder="Event" required=""
            autofocus="" value="">
        <label for="inputEventName">Event</label>
    </div>

    <div class="form-label-group">
        <input type="text" id="inpuEventDate" name="dateTime" class="form-control" placeholder="Date" required=""
            value="">
        <label for="inpuEventDate">Date</label>
    </div>

    <div class="form-label-group">
        <textarea type="text" id="inputEventDescription" name="description" class="form-control"
            placeholder="Description" required=""></textarea>
        <label for="inputEventDescription">Description</label>
    </div>
    <div class="form-label-group">
        <input type="text" id="inputEventImage" name="imageURL" class="form-control" placeholder="Image" required=""
            autofocus="" value="">
        <label for="inputEventImage">Image</label>
    </div>
    <div style="display: none">
        <input name="organizer" value="" />
        <input name="peopleInterestedIn" value="" />
    </div>

    <button class="btn btn-lg btn-dark btn-block" type="submit">Edit it</button>
    <p class="mt-5 mb-3 text-muted text-center">© UniEnt - 2019.</p>
</form>

{{> footer}}

{{!-- <div class="container">
    <form action="#/x/details/edit/{{xId}}" method="post">
        <fieldset>
            <legend>Edit article</legend>
            <p class="field title">
                <input type="text" name="title" id="title" placeholder="{{title}}">
                <label for="title">Title:</label>
            </p>

            <p class="field category">
                <input type="text" name="category" id="category" placeholder="{{category}}">
                <label for="category">Category:</label>
            </p>
            <p class="field content">
                <textarea name="content" id="content"></textarea>
                <label for="content">Content:</label>
            </p>

            <p class="field submit">
                <button class="btn submit" type="submit">Edit</button>
            </p>

        </fieldset>
    </form>
</div> --}}