$white-color: #FFFFFF;

$secondary-color: #FF9100;

$primary-50: #DFF4F1;
$primary-300: #41BEAD;

$grey-50: #F8F8F8;
$grey-200: #E6E6E6;
$grey-500: #919191;
$grey-600: #676781; // Designer don't write the name of the color and I name it grey-600.
$grey-700: #565656;

$blue-50: #E3F3FD;
$blue-400: #44A9F8;

$red-500: #FC4C50; // Designer don't write the name of the color and I name it red-500.

$violet-700: #9A5DC6; // Designer don't write the name of the color and I name it violet-700.9A5DC