.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin: 30px 20px;
}

article {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 5px;
}