@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:wght@300&display=swap');

html {
    padding: 50px 50px 0 50px;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body h1, body h2 {
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
    padding-top: 40px;
}