.c-header-background{
    width: 100%;
    margin: 0;
    padding: 0;
    background: url('../images/about-page-hero.jpg')  ;
  z-index: -5;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: relative;
}
.c-header-background::after{
    content: "";
    background: rgba(69, 158, 226, 0.74) ;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}