.c-site-header{
    display: flex;
    flex-flow: row wrap;
    padding: 0 30px ;
    box-shadow: 0 6px 10px 0 rgba(41,57,75,.25);
    border-bottom-left-radius:8px ;
    border-bottom-right-radius:8px ;
    min-height: 80px;
    background-color: #ffffff;
}
.c-primary-log-sign{
    align-items: center;
    margin-left: 7px;
}
.c-site-header .c-primary-log-sign .c-cta{
    margin-left: 15px;
}
.c-site-header .c-site-primary-logo{
    width: 120px;
    display: flex;
    margin-right: auto;

}