.c-footer {
    border-top: 12px solid $grey-500;
    background-color: $grey-700;
    height: 100%;

    &--page-1 {
        margin-top: 200px;

        @include for-tablet-landscape-up{
            margin-top: 240px;
        }

        @include for-desktop-up{
            margin-top: 280px;
        }
    }

    &--page-2 {
        margin-top: 0px;
    }

    &--page-3 {
        margin-top: 34%;

        @include for-tablet-portrait-up{
            margin-top: 24%;
        }

        @include for-tablet-landscape-up{
            margin-top: 90px;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .o-page-content-wrapper {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr;

        @include for-tablet-landscape-up {
            grid-template-columns: 25% 1fr;
            max-height: 100%;
            grid-template-rows: 70%;
        }
    }

    &__img {
        position: relative;
        top: -90px;
    }

    &__nav {
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: 30% 12% 17% 20%;
        row-gap: 32px;
        margin-top: 50px;

        @include for-tablet-landscape-up {
            display: grid;
            grid-template-columns: min-content;
            grid-template-rows: 1fr;
            row-gap: 32px;
            margin-top: 50px;
            column-gap: 50px;
        }

        &__section {

            &--first {
                @include for-desktop-up {
                    ul {
                        display: flex;
                        flex-flow: column wrap;
                        height: 170px;
                        width: 280px;
                    }
                }
            }

            &--second {
                grid-row-start: 3;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 1;

                @include for-tablet-landscape-up {
                    grid-row-start: 1;
                    grid-row-end: 1;
                    grid-column-start: 2;
                    grid-column-end: 2;
                }
            }

            &--third {
                @include for-tablet-landscape-up {
                    grid-column: 3/4;
                    grid-row: 1/1;
                }
            }

            &--social-media {

                grid-row-start: 2;
                grid-row-end: 2;
                grid-column-start: 2;
                grid-column-end: 2;

                @include for-tablet-landscape-up {
                    grid-row-start: 1;
                    grid-row-end: 1;
                    grid-column-start: 4;
                    grid-column-end: 4;
                }

                & div ul {
                    display: grid;
                    grid-template-rows: 1fr;
                    grid-template-columns: min-content min-content;
                    column-gap: 32px;
                }
            }

            &--fifth {
                border-top: 2px solid $grey-600;
                grid-column: 1/3;
                grid-row: 4/4;
                text-align: center;
                align-self: center;
                color: $grey-500;
                padding-top: 25px;

                @include for-tablet-landscape-up {
                    border-top: none;
                    grid-column: 4/4;
                    grid-row: 1/1;
                    text-align: start;
                }
            }

            h5 {
                color: white;
            }

            ul li {
                list-style: none;
                padding-top: 12px;

                a {
                    text-decoration: none;
                    color: $grey-200;
                    font-weight: 300;
                    font-size: 16px;
                }
            }
        }
    }
}