.c-trainers-main__between-lecturers-border,
.c-course-main__info-1-border{
    border-top: 10px dotted $primary-50;
    height: 10px;
    align-self: center;
    width: 95%;
    margin: 0 auto;
    max-width: 1290px;
}

.c-course-main__info-1-border {
    border-top: 10px dotted #FFECB3;
    width: 100%;
    margin: initial;

    @include for-tablet-landscape-up {
        border-right: 10px dotted #FFECB3;
        width: 10px;
        height: 100%;
        justify-self: center;
    }
}

.c-course-main__program-border {
    border-bottom: 10px dotted white;
    position: relative;
    top: -5px;
    margin: 0 5px;

    &--bottom {
        top: -85px;
    }
}