body {
    margin: 0;
    display: flex;
    height: 100vh;
    flex-flow: row wrap;
    background: rgb(238, 238, 238);
}

header,
main,
footer{
    display: flex;
    float: 1;
}

footer {
    bottom: 0;
    width: 100%;
    height: 40px;
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
}

header {
    width: 100%;
    height: 80px;
    padding-left: 30px;
    border-bottom: 2px solid black;
}

h1{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-left: 30px;
    flex-direction: column;
    height: 100%;
}

p {
    width: 100%;
}