{{> header}}

{{#if loggedInWithTreks}}
<div id="treks-list">
    {{#each y}}
    <a href="#/x/details/{{ id }}" class="card overflow-hidden treksPlaceholder trek-details" style="width: 20rem; height: 18rem;">
      <div class="card-body">
        <p class="card-text">{{location}}</p>
      </div>
      <img class="card-image"
        src="{{imageURL}}"
        alt="Card image cap">
    </a>
     {{/each}}
  </div>
{{/if}}

{{#if loggedInWithNoTreks}}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="fouronefour">
          <img class="no-found-picture" src="./images/empty.jpg" />
        </div>
        <div class="no-found-template">
          <h1>
            There aren't any treks, yet!</h1>
          <h2>
            What do you have in mind?</h2>
          <div class="no-found-details">
            Be the first explorer!
          </div>
          <div class="actions">
            <a href="#/x/create" class="btn btn-dark btn-lg">Create the first trek? </a>
          </div>
        </div>
      </div>
    </div>
  </div> 
{{/if}}


{{#if isLoggedIn}}
  {{else}}
<div class="home d-md-flex flex-md-equal  my-md-3 pl-md-3">
    <div style=" padding-left: 7%; padding-top:3%;" class="col-md-7">
      <h2 class="featurette-heading">Here you will find the treks you've <span class="text-highlighted">always dreamed
          about!</span></h2>
      <p class="lead">1. Join our family.</p>
      <p style="padding-left:5%" class="lead">2. Request the trek you've always wanted.</p>
      <p style="padding-left:10%" class="lead">3. Find people who like your idea.</p>
      <p class="lead">If you find enough supporters, we will organize everything for you!</p>
    </div>
    <div class="col-md-5">
      <img class="home-picture" src="./images/mountainLogo.png" />
    </div>
  </div>
  {{/if}}

{{> footer}}