@{
    ViewData["Title"] = "Premier League Season 2018/2019";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

    <p>
        Събота, 24 ноември 2018
    </p>
    <p>
        Висша Лигa
    </p>
    <p>
        Начало: 17:00 ч.
    </p>
    <p>
        Стадион: Олд Трафорд
    </p>

    <table style="width: 25%">
        <thead>
            <tr>
                <th><img src="~/images/manchester-united-logo-3d-model-obj-stl.jpg" alt="Manchester United logo" width="50" class="img-responsive" /></th>
                <th><h4 style="color:red">Manchester United</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="~/images/1200px-Crystal_Palace_FC_logo.svg.png" alt="Crystal Palace Logo" width="50" class="img-responsive" /></td>
                <td><h4 style="color:blue"> Crystal Palace</h4></td>
            </tr>
        </tbody>
    </table>

</body>
</html>