.c-green__50 {
    background-color: rgb(229, 244, 232);
}

.c-green__100 {
    background-color: rgb(192, 228, 198);
}

.c-green__200 {
    background-color: rgb(151, 211, 162);
}

.c-green__300 {
    background-color: rgb(106, 194, 125);
}

.c-green__400 {
    background-color: rgb(70, 182, 97);
}

.c-green__500 {
    background-color: rgb(18, 169, 69);
}

.c-green__600 {
    background-color: rgb(2, 154, 60);
}

.c-green__700 {
    background-color: rgb(0, 136, 49);
}

.c-green__800 {
    background-color: rgb(0, 119, 38);
}

.c-green__900 {
    background-color: rgb(0, 89, 18);
    color: white;
}