.o-page-wrapper {
    max-width:  1290px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 30px;
    }

    .o-page-wrapper .o-page-wrapper-new-section {
        padding-top: 100px;
    }