.c-card {
  background: #fff;
  width: 100%;
  border: none;
  display: flex;
  flex-flow: column wrap;
  margin: 10px;
}

.c-card__row {
  min-width: 350px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
}

.c-card__rowdown {
  min-width: 555px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
}

.c-card__row--heading {
  font-weight: 600;
  font-size: 22px;
}

.c-card__body {
  padding: 5px;
  font-family: 'Montserrat';
}

.c-card__row--color-primary {
  background-color: #FFA000;
}

.c-card__row--color-primary-50 {
  background-color: #FFF8E1;
}

.c-card__row--color-primary-100 {
  background-color: #FFEDB3;
}

.c-card__row--color-primary-200 {
  background-color: #FFE183;
}

.c-card__row--color-primary-300 {
  background-color: #FFD650;
}

.c-card__row--color-primary-400 {
  background-color: #FFCB29;
}

.c-card__row--color-primary-500 {
  background-color: #FFC309;
}

.c-card__row--color-primary-600 {
  background-color: #FFB401;
}

.c-card__row--color-primary-700 {
  background-color: #FFA000;
}

.c-card__row--color-primary-800 {
  background-color: #FF9100;
}

.c-card__row--color-primary-900 {
  background-color: #FF7100;
}

.c-card__row--color-secondary {
  background-color: #234465;
  color: #fff;
}

.c-card__row--color-secondary-50 {
  background-color: #E4F0F4;
}

.c-card__row--color-secondary-100 {
  background-color: #BEDAE6;
}

.c-card__row--color-secondary-200 {
  background-color: #99C3D7;
}

.c-card__row--color-secondary-300 {
  background-color: #78ACC6;
}

.c-card__row--color-secondary-400 {
  background-color: #629CBC;
}

.c-card__row--color-secondary-500 {
  background-color: #4F8DB2;
}

.c-card__row--color-secondary-600 {
  background-color: #4480A7;
}

.c-card__row--color-secondary-700 {
  background-color: #397096;
}

.c-card__row--color-secondary-800 {
  background-color: #306085;
}

.c-card__row--color-grey {
  background-color: #565656;
  color: #fff;
}

.c-card__row--color-grey-50 {
  background-color: #F8F8F8;
}

.c-card__row--color-grey-100 {
  background-color: #F1F1F1;
}

.c-card__row--color-grey-200 {
  background-color: #E6E6E6;
}

.c-card__row--color-grey-300 {
  background-color: #D6D6D6;
}

.c-card__row--color-grey-400 {
  background-color: #B2B2B2;
}

.c-card__row--color-grey-500 {
  background-color: #919191;
}

.c-card__row--color-grey-600 {
  background-color: #696969;
  color: #fff;
}

.c-card__row--color-grey-800 {
  background-color: #383838;
  color: #fff;
}

.c-card__row--color-grey-900 {
  background-color: #181818;
  color: #fff;
}

.c-card__row--color-green {
  background-color: #029A3C;
}

.c-card__row--color-green-50 {
  background-color: #E5F4E8;
}

.c-card__row--color-green-100 {
  background-color: #C0E4C6;
}

.c-card__row--color-green-200 {
  background-color: #C0E4C6;
}

.c-card__row--color-green-300 {
  background-color: #6AC27D;
}

.c-card__row--color-green-400 {
  background-color: #46B661;
}

.c-card__row--color-green-500 {
  background-color: #12A945;
}

.c-card__row--color-green-700 {
  background-color: #008831;
}

.c-card__row--color-green-800 {
  background-color: #005912;
}

.c-card__row--color-green-900 {
  background-color: #005912;
  color: #fff;
}

.c-card__row--color-red {
  background-color: #FC4C50;
}

.c-card__row--color-red-50 {
  background-color: #FFEBEF;
}

.c-card__row--color-red-100 {
  background-color: #FFCDD3;
}
.c-card__row--color-red-200 {
  background-color: #F7999B ;
}
.c-card__row--color-red-300 {
  background-color: #F07073;
}
.c-card__row--color-red-500 {
  background-color: #FF3632;
}
.c-card__row--color-red-600 {
  background-color: #F32B33;
}
.c-card__row--color-red-700 {
  background-color: #E11E2D;
}
.c-card__row--color-red-800 {
  background-color: #E11E2D;
}
.c-card__row--color-red-900 {
  background-color: #C50018;
}