@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "PT sans", sans-serif;
    font-size: 24px;
    color: #234465;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    flex-wrap: wrap;
}
#main{   
    background: url(images/background.png) no-repeat center center;
    background-size: cover;  
}
#navigation{
    background: #234465;
    display: inline-block;
    padding: 0.5rem;
}
#navigation-text{
    display: inline-block;
}
#lecture-name, #problem-name{
    font-family: "Lato", sans-serif;
    color: white;
    font-weight: bold;
}
#lecture-name{    
    font-size: 28px;    
    margin-bottom: 0.8rem;    
}
#problem-name{    
    font-size: 22px;
    color: white;    
}
#logo-img{
    width: 17%;
    float: right;
    padding: 0.5rem 0.5rem 0 0;
}
#softUni-person-img{
    width: 30%;
    padding: 0;
    float: left;    
}
#exercise{   
    width: 70%;
    float: left;
    padding: 1rem 0 1rem 1rem;
}
main:after{
    display: block;
    content:'';
    clear: both;
}
#footer{
    background: #234465;
    padding: 0.5rem;
    margin-top: auto;
}
#footer-text{
    color: white;
    text-align: center;
}
#check-judge{
    color: #FD9F00;
}
input[type="button"], button{
    padding: 0.3rem 0.5rem;
    font-size: 0.7em;
    margin: 1rem 0 1rem 0;
    border: none;
    color: white;
    background: #234465;
    border-radius: 5px;
    outline: none;
}


section{
    width: 70%;
    height: 70vh;
    border: 3px solid black;
    margin: 0 auto;
}

#content{
    width: 100%;
    height: 55vh;
    background-image: url("images/virus.png");
    background-repeat: no-repeat;
	
}

img{
    margin: 0 auto;
}


#buttons{
    width: 100%;
    height: 9.5vh;

    text-align: right;
}

#buttons button{
    font-size: 28px;
}

#firstStep, #secondStep, #thirdStep{
    display: none;
    padding-top: 10%;
    font-size: 24px;
}



