.c-main-nav {
    &__list {
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        justify-content: flex-end;

        &-item {
            opacity: 0;
            animation: animateNavLi 1s ease-out forwards;

            &:not(last-child) {
                margin-right: 24px;
            }

            a {
                text-decoration: none;
                color: $grey-700;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 12px;
                height: 100%;
                text-transform: uppercase;
            }
        }
    }
}