html {
    color: rgb(251, 251, 251);
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body h1 {
    font-family: Georgia, serif;
}

article{
    border-radius: 1rem;
    background: rgb(51, 102, 153);
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}