<div class="row">
    <div class="col-sm-12 col-md-6">
        <h1>Register</h1>
        <form action="/account/performRegister">
            <div class="form-group">
                <label for="username">Email address</label>
                <input type="email" class="form-control" id="username" name="username"
                    aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="repeatPassword">Repeat Password</label>
                <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" placeholder="Repeat Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button> 
        </form>
    </div>
</div>