{{> header}}

{{#if loggedInWithIdeas}}
<div id="dashboard-holder">
  {{#each y}}
  <div class="card overflow-hidden current-card details" style="width: 20rem; height: 18rem;">
    <div class="card-body">
      <p class="card-text">{{title}}</p>
    </div>
    <img class="card-image" src="{{imageURL}}" alt="Card image cap">
    <a class="btn" href="#/x/details/{{id}}">Details</a>
  </div>
  {{/each}}
</div>
{{/if}}

{{#if loggedInWithNoIdeas}}
<h1>No ideas yet! Be the first one :)</h1>
{{/if}}



{{#if isLoggedIn}}
{{else}}
<div class="container home wrapper  my-md-5 pl-md-5">
  <div class="d-md-flex flex-md-equal ">
    <div class="col-md-5">
      <img class="responsive" src="./images/01.svg" />
    </div>
    <div class="home-text col-md-7">
      <h2 class="featurette-heading">Do you wonder if your idea is good?</h2>
      <p class="lead">Join our family =)</p>
      <p class="lead">Post your ideas!</p>
      <p class="lead">Find what other people think!</p>
      <p class="lead">Comment on other people's ideas.</p>
    </div>
  </div>
  <div class="bottom text-center">
    <a class="btn btn-secondary btn-lg " href="#/user/register">Get Started</a>
  </div>
</div>
{{/if}}

{{> footer}}