html {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-family: Arial, Helvetica, sans-serif;
    width: 51%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: rgb(238, 238, 238);
    
}

img {
    width: 65%;
}