h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lato', sans-serif;
    }

h1 {
    font-size: 38px;
    line-height: 43px;

}

h2 {
    font-size: 26px;
    line-height: 30px;
}

h3 {
    font-size: 20px;
    line-height: 24px;
}

h4 {
    font-size: 18p;
    line-height: 21;
}

h5 {
    font-size: 16p;
    line-height: 19p;
}