.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "header header header"
        "main main sidebar"
        "footer footer footer";
    column-gap: 20px;
    row-gap: 20px;
    margin: 30px 20px;
}

.container > * {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}