.c-primary-site-nav {
    margin-right: 5px;
}

.c-primary-site-nav .c-primary-site-nav-list {
    flex: 1;
}

.c-primary-site-nav .c-primary-site-nav-link {
    display: flex;
    align-items: center;
    flex: 1;
    color: #29394b;
    padding: 5px;
}

.c-primary-site-nav .c-primary-site-nav-link:hover {
    text-decoration: none;
    background-color: #f4f5f7;
}

.c-primary-site-nav .c-no-hover:hover {
    text-decoration: none;
    background-color: white;
}

.c-primary-site-nav .c-primary-site-nav-link-current {
    position: relative;
}

.c-primary-site-nav .c-primary-site-nav-link-current::before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #44a9f8;
    position: absolute;
    top: 0; left: 0;
}