.c-softuni-scholarship {
    margin-top: 160px;
}

.c-softuni-scholarship-info {
    width: 100%;
    height: 220px;
    padding: 10px 30px;
    background-color: #42ABF8;
    color: white;
    border-radius: 8px;
}

.c-softuni-scholarship-image {
    width: 45%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: -70px;
}

.c-softuni-scholarship-image img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}