.btn {
    box-shadow: $primary-shadow;
    border-radius: 100px;
    border: none;
    outline: none;
    padding: 10px 22px;
    text-transform: uppercase;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        // box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);
        // animation: animateBtn 2s linear infinite;
    }

    &--secondary {
        background: $secondary-color;
        color: #fff;

        &-inverted {
            border: 1px solid $secondary-color;
            color: $secondary-color;
            background: transparent;

            &--card-page-3 {
                padding: 14px 32px;
            }
        }
    }


    &--white-inverted {
        border: 1px solid #fff;
        color: #fff;
        background: transparent;
    }

    &[disabled],
    &.disabled {
        cursor: not-allowed;
    }
}

.text-like {
    padding: 0;
    border: 0;
    background: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}