.navbar {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}

.navbar__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__items {
    display: flex;
}

.navbar__item {
    list-style: none;
    margin: 15px;
}

.navbar__item a { 
    text-decoration: none;
    text-transform: uppercase;
    color: #565656;
}

.navbar__item a:hover {
    cursor: pointer;
    color: #FF9100;
}