@model IEnumerable<Quiz.Services.Models.UserQuizViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!!!</h1>
    <p><a href="https://softuni.bg">SoftUni</a>.</p>
</div>

<table class="table table-sm table-striped table-hover table-bordered">
    <tr><th>Quiz name</th><th>Action</th></tr>
    @foreach (var quiz in Model)
    {
        <tr>
            <td>@quiz.Title</td>
            <td>
                @if (quiz.Status == Quiz.Services.Models.QuizStatus.NotStarted)
                {
                    <a asp-controller="Quiz" asp-action="Test" asp-route-id="@quiz.QuizId" class="btn btn-success">Start test</a>
                }
                else if (quiz.Status == Quiz.Services.Models.QuizStatus.InProgress)
                {
                    <a href="/Quiz/Test/@quiz.QuizId" class="btn btn-warning">Continue test</a>
                }
                else
                {
                    <a href="/Quiz/Results/@quiz.QuizId" class="btn btn-secondary">View results</a>
                }
            </td>
        </tr>
    }
</table>