html {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
    margin: 50px 100px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    background-color: rgb(238, 238, 238);
}

.page{
    display: flex;
    flex-wrap: wrap;
}

main {
    width: 868px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

header{
    border-bottom: 2px solid black;
    width: 100%;

}

h2, h3 {
    font-size: 1em/1.2;
    font-weight: 500;
    font-family: Georgia, serif;
    margin-bottom: 10px;
}

aside a {
    color: rgb(0, 153, 0);
}

ul{
    margin-top: 0;
}

aside{
    float: right;
    margin-left: 100px;
}

blockquote {
    margin: 0;
    padding: 0;
    float: right;
    font-style: italic;
    border-left: 3px solid rgb(175, 175, 175);
    padding-left: 30px;
    font-family: Georgia, serif;
}

blockquote>p:first-child {
    margin: 0;
    padding: 0;
    width: 400px;
    height: 130px;
}

img {
    border: 3px solid black;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25);
}

img:first-child {
    float: right;
    width: 200px;
    height: 330px;
    margin: 60px 0 5px 20px;
}

img:last-of-type {
    float: left;
    margin: 0 20px 25px 0;
    height: 121px;
    width: 170px;
}

.author {
    text-align: right;
}

p:nth-last-child(2) {
    margin: 0;
}

p.last-p {
    width: 890px;
}

header, aside{
    
}