@{
    ViewData["Title"] = "About";
}

<div id="booking">
    <section class="image-restaurant">
        <img src="~/images/form-img.jpg" />
    </section>
    <section class="form-h2">
        <h2>
            Booking place for your dinner!
        </h2>
        <form action="" method="post">
            <input type="text" placeholder="Your name" name="name">
            <input type="text" placeholder="Your phone number" name="number">
            <input type="text" placeholder="Time" name="time">
            <input type="text" placeholder="Number of people" name="numberOfPeople">
            <button type="submit">
                Book now
            </button>
        </form>
    </section>
</div>