<form method="post" class="book-create" asp-action="Create" >
    <div class="create-header">
        Add a new Book
    </div>
    <div class="create-title">
        <div class="create-title-label">Title</div>
        <input type="text" class="create-title-content" name="Title" />
    </div>
    <div class="create-bookitem">
        <div class="create-bookitem-label">Author</div>
        <input type="text" class="create-bookitem-content" name="Author" />
    </div>
    <div class="create-bookitem">
        <div class="create-bookitem-label">Price</div>
        <input type="number" step="any" min="1" rows="3" class="create-bookitem-content" name="Price" />
    </div>
    <div class="create-button-holder">
        <button type="submit" class="button">Add Book</button>
        <a type="button"asp-action="Index" asp-controller="Library" class="button">Back</a>
    </div>
</form>