@model Book

<form class="book-create" asp-action="Edit" asp-route-id="@Model.Id" method="post">
    <div class="create-header">
        Edit Book
    </div>
    <div class="create-title">
        <div class="create-title-label">Title</div>
        <input type="text" class="create-title-content" name="title" value=@Model.Title />
    </div>
    <div class="create-bookitem">
        <div class="create-bookitem-label">Author</div>
        <input type="text" rows="3" class="create-bookitem-content" name="author" value=@Model.Author />
    </div>
    <div class="create-bookitem">
        <div class="create-bookitem-label">Price</div>
        <input type="number" step="any" min="1" rows="3" class="create-bookitem-content" name="price" value=@Model.Price />
    </div>
    <div class="create-button-holder">
        <button type="submit" class="button">Edit Book</button>
        <a type="button"  asp-controller="Library" asp-action="Index" class="button">Back</a>
    </div>
</form>