html{
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);
}

.card {
    padding: 10px;
    max-width: 450px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px 0px #717171;
}

.card h1 {
    margin-top: 0;
}