<header id="header">
    <h1>MyBlog</h1>
    {{#if isLoggedIn}}
    <h2>Welcome <span>{{username}}</span>!</h2>
    <nav id="nav">
        <ul>
            <li><a href="#/user/logout" class="header__nav__li--a">Logout</a></li>
            {{else}}
            <li><a href="#/home" class="header__nav__li--a">Home</a></li>
            <li><a href="#/user/login" class="header__nav__li--a">Login</a></li>
            <li><a href="#/user/register" class="header__nav__li--a">Register</a></li>
        </ul>
    </nav>
    {{/if}}
</header>