@import '../01-settings/settings-colors.scss';

select {
    background: $grey-50;
    border: 1px solid $secondary-800;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 18px;
    font-size: 16px;
    line-height: 20px;
    -webkit-appearance: none;
    appearance: none;
    min-width: 170px;
    min-height: 44px;
    margin-left: 15px;;

    color: $grey-700;

    &:hover{
        cursor: pointer;
    }

    option{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 10px 0px 10px 40px;

        &:first-child{
            color: $grey-500;
        }

        // &.placeholder{
        //     color: $grey-500;
        // }
    
        &.secondary{
            font-size: 14px;
            line-height: 16px;
            text-indent: 65px;
            // padding: 10px 0px 10px 65px;
        }
    }
}
    