$white-color: white;

$secondary-color: #FF9100;
$secondary-50: #FFF8E1;
$secondary-100: #FFECB3;
$secondary-500: #FFC20A;
$secondary-600: #FFB402;
$secondary-800: #FF9100;
$secondary-900: #FF7100;

$primary-50: #DFF4F1;
$primary-300: #41BEAD;

$grey-50: #F8F8F8;
$grey-100: #F1F1F1;
$grey-200: #E6E6E6;
$grey-300: #D6D6D6;
$grey-400: #B2B2B2;
$grey-500: #919191;
$grey-600: #696969;
$grey-700: #565656;

$blue-50: #E3F3FD;
$blue-200: #92CDFB;
$blue-300: #66B9F8;
$blue-400: #44A9F8;

$red-500: #FC4C50; // Designer don't write the name of the color and I name it red-500.

$violet-700: #9A5DC6; // Designer don't write the name of the color and I name it violet-700