html {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 50px 70px 0 70px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ul {
    padding-left: 80px;
}

nav,
li,
ul,
h1 {
    display: inline-block;
}

h1 {
    padding-right: 100px;
    margin: 0;
    padding: 0;
    font-size: 54px;
}

hr {
    border: 1px solid;
    margin-top: 20px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: rgb(4, 192, 4);
    font-size: 19px;
}

li {
    padding-left: 30px;
}

h2 {
    font-size: 44px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    font-size: 18px;
}