<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#/home">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img"
                viewBox="0 0 24 24" focusable="false">
                <title>UniEnt Home</title>
                <circle cx="12" cy="12" r="10"></circle>
                <path
                    d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94">
                </path>
            </svg>
        </a>
        {{#if isLoggedIn}}
        <a class="py-2 d-none d-md-inline-block" href="#/x/create">Organize Event</a>
        <a class="py-2 d-none d-md-inline-block" href="#/user/profile">{{username}}</a>
        <a class="py-2 d-none d-md-inline-block" href="#/user/logout">Logout</a>
        {{else}}
        <a class="py-2 d-none d-md-inline-block" href="#/user/login">Login</a>
    </div>
    {{/if}}
</nav>

{{!-- <header>
    <h1><a class="home" href="#/home">SoftWiki</a></h1>
    <nav class="nav-buttons">
        {{#if isLoggedIn}}
        <a href="#/x/create">Create</a>
        <a href="#/user/logout">Logout</a>
        {{else}}
        <a href="#/user/register">Register</a>
        {{/if}}
    </nav>
</header> --}}