.cards--wrapper {
    margin: 50px 0;
}

.cards {
    display: flex;
    justify-content: space-between;

    @include for-phone-only {
        display: block;
    }
}

.card {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    max-width: 400px;
    transition: box-shadow 0.5s, transform 0.2s ease-out;
    transform: scale(1);

    @include for-phone-only {
       margin: 20px auto;
    }

    &:hover {
        box-shadow: $primary-shadow;
        transform: scale(1.05);
    }
}

.card:hover {
    cursor: pointer;
}

.card:hover .card__content, .card:hover .card__footer {
    background: #F8F8F8;
}

.card__header {
    min-height: 160px;
    color: #fff;
    border-radius: 12px 12px 0px 0px;
}

.card__header--blue {
    background: #44A9F8;
}

.card__header--green {
    background: #41BEAD;
}

.card__title {
    text-align: center;
}

.card__label {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    padding: 4px 8px;
    width: fit-content;
    text-transform: uppercase;
    position: relative;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}

.card__label--gray {
    background: #676781;
}

.card__label--violet {
    background: #9A5DC6;
}

.card__content {
    text-align: center;
    padding: 15px 0;
}

.card__info {
    display: inline-block;
    width: 40%;
    margin: 5px 0;
}

.card__footer {
    padding: 20px;
    text-align: center;
}

.card__footer::before {
    content: '';
    background: #F1F1F1;
    width: 360px;
    height: 1px;
    display: inline-block;
    position: relative;
    top: -20px;
}

.card__price {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #FC4C50;
    margin-right: 20px;
}