.c-revealing-list {
    margin: 0;
    padding: 0;
    list-style: none;

    @for $i from 1 through 10 {
        li:nth-child(#{$i}) {
          animation-delay: #{0.05 * $i}s;
        }
    }

    &__item {
        margin-bottom: 10px;
        opacity: 0;
        transform: translateX(-30px);
        animation: reveal-left 1s ease-in;
        animation-fill-mode: forwards;
    }

    &__link {
        text-decoration: none;
        color: #000;
        font-size: 18px;
    }
}