*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.site-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.students-image-container {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  transform: rotate(45deg);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.3;
    background: linear-gradient(45deg, #323d47, #ff0004);
  }
}

.students-image {
  width: 450px;
  transform: rotate(-45deg) translate(0, -100px);
}
