img{
    width: 100%;
    display: block;
    height:auto;
}
.lazy{
    width: 250px;
    height: 250px;
    margin: 20px;
    position: relative;
    z-index: 1;
    border-radius: 7px;
}
.woman-teach{
    width: 55%;
    position: relative;
    top: -50px;
    align-self: center;
    right: -280px;
}