{{> head}}

<body>
    <header>
        {{> nav}}
    </header>
    <main>
        <form action="#/cats/add-breed" method="POST" class="cat-form">
            <h2>Add Cat Breed</h2>
            <label for="breed-name">Breed Name</label>
            <input name="breed" type="text" id="breed-name">
            <button type="submit">Add Breed</button>
        </form>
    </main>
</body>

</html>