{{> head}}

<body>
    <header>
        {{> nav}}
    </header>
    <main>
        <form action="#/cats/add-cat" method="POST" class="cat-form" enctype="multipart/form-data">
            <h2>Add Cat</h2>
            <label for="name">Name</label>
            <input name="name" type="text" id="name">
            <label for="description">Description</label>
            <textarea name="description" id="description"></textarea>
            <label for="image">Image</label>
            <input name="file" type="file" id="image">
            <label for="group">Breed</label>
            <select name="breed" id="group">
                {{#each breeds}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <button type="submit">Add Cat</button>
        </form>
    </main>
</body>

</html>