.filter--wrapper {
  background-color: #F8F8F8;
}

.filter--wrapper .filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1199px) {
  .filter--wrapper .filter {
    flex-flow: column nowrap;
  }
}

.filter--wrapper .filter__title {
  color: #565656;
}

@media (max-width: 1399px) {
  .filter--wrapper .filter__title {
    display: none;
  }
}

.filter--wrapper .filter__label {
  display: flex;
  align-items: flex-end;
  margin: 1rem 0rem;
}

@media (max-width: 1199px) {
  .filter--wrapper .filter__label {
    position: relative;
  }
}

.filter--wrapper .filter__label::after {
  content: "";
  background: url("../../assets/down_arrow.svg") center no-repeat;
  width: 12px;
  height: 8px;
  display: inline-block;
  position: relative;
  left: -25px;
  bottom: 15px;
}

.filter--wrapper .filter__label--level::after {
  left: -50px;
}

.filter--wrapper .filter__label__image {
  margin-right: 15px;
}

.filter--wrapper .filter__label__img--info {
  margin-left: 10px;
}

@media (max-width: 1199px) {
  .filter--wrapper .filter__label__img--info {
    position: absolute;
    left: 100%;
    transform: translateY(50%);
    bottom: 50%;
  }
}
