$primary-color-300: #41BEAD;
$primary-color-50:#DFF4F1;
$primary-color-400:#00AF9B;

$secondary-color-800: #FF9100;

$grey-50:#F8F8F8;
$grey-100:#F1F1F1;
$grey-200:#E6E6E6;
$grey-500:#919191;
$grey-700:#565656;

$blue-50: #E3F3FD;
$blue-400: #44A9F8;

$white:#FFFFFF;

$violet: #9A5DC6;
$dark-violet:#676781;

$red-400:#FC4C50;