/* TODO: Add media queries */

@media (max-width: 884px) {
    /* html {
        box-sizing: border-box;
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    *:after,
    *:before {
        box-sizing: inherit;
    } */

    main header {
        font-family: "Montserrat", "Lato", "Helvetica", sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0em 0em;
    }

    .newsletter-intro>* {
        width: 350%;
    }

    .newsletter-boxes {
        display: flex;
        flex-direction: column;
        font-size: 4em;
    }

    .newsletter-bottom {
        display: flex;
        width: 91%;
        margin-left: 22px;
    }

    .bottom-logo {
        width: 18%;
        margin: 20px auto 0 auto;
    }

    .newsletter-bottom h4 {
        font-family: "Montserrat", "Lato", "Helvetica", sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-align: start;
    }

    .newsletter-box h4 {
        font-family: "Montserrat", "Lato", "Helvetica", sans-serif;
        font-size: 29px;
        font-weight: 600;
        color: #3f4d5a;
    }

    .newsletter-box p {
        font-family: "Lato", "Helvetica", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 20px;
        color: #3f4d5a;
    }

    body > main > section.newsletter-intro > article > p{
        font-size: 20px;
    }

    .newsletter-intro h4 {
        font-family: "Montserrat", "Lato", "Helvetica", sans-serif;
        font-size: 27px;
        font-weight: 400;
    }

    .newsletter-intro hr {
        color: #fc4c50;
        background: #fc4c50;
        border: none;
        width: 100%;
        height: 3px;
        margin: 2.8em 1em;
    }

    .newsletter-bottom-content {
        width: 80%;
        margin: 0 auto;
        text-align: start;
        font-size: 23px;
    }
}