@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-top: 30px;
    padding-left: 30px;
}

body ul {
    list-style: none;
    padding-top: 8px;
}

body ul li {
    padding-top: 3px;
}