<!DOCTYPE html>
<html>
<head>
    <title>Library</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <link href="~/css/reset.css" rel="stylesheet" />
</head>
<body style="background-color: #CDF0E1">
    <div class="wrapper">
        @RenderBody()
    </div>
</body>
</html>