.c-contact-us {
    display: flex;
    position: absolute;
    top: 545px; left: 1281px;
    padding: 10px 10px;
    padding-bottom: 25px;
    color: #29394b;
    width: 100px;
    height: 25px;
    border-radius: 7px 7px 0 0;
    background-color: white;
    transform: rotate(270deg);
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}

.c-contact-us p {
    font-size: 10px;
    margin: 0;
    margin-left: 10px;
}