select {
  width: 167px;
  height: 44px;
  background: #F8F8F8;
  border: 1px solid #FF9100;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-appearance: none;
  padding: 12px 18px;
  color: #919191;
}

#level {
  width: 197px;
}
