.c-secondary__50 {
    background-color: rgb(228, 240, 244);
}

.c-secondary__100 {
    background-color: rgb(190, 218, 230);
}

.c-secondary__200 {
    background-color: rgb(153, 195, 215);
}

.c-secondary__300 {
    background-color: rgb(120, 172, 198);
}

.c-secondary__400 {
    background-color: rgb(98, 156, 188);
}

.c-secondary__500 {
    background-color: rgb(79, 141, 178);
}

.c-secondary__600 {
    background-color: rgb(68, 128, 167);
}

.c-secondary__700 {
    background-color: rgb(57, 112, 150);
}

.c-secondary__800 {
    background-color: rgb(48, 96, 133);
}

.c-secondary__900 {
    background-color: rgb(35, 68, 101);
    color: white;
}