@import "../01-settings/settings-colors.scss";

.footer {
    position: relative;

    &__menu {
        margin: 44px 0;
        margin-left: 373px;
    }

    &__list-item {
        line-height: 19px;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
    }

    &__link {
        display: flex;
        justify-content: flex-start;
        font-size: 16px;
        line-height: 19px;
        color: $grey-200;
        font-weight: normal;

        &:hover {
            color: $primary-color-300;
        }
    }

    &__heading {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        color: $white;
    }

    &__icon {
        color: $grey-200;
        font-size: 28px;
        margin-right: 30px;
        margin-bottom: 48px;

        &:hover {
            color: $primary-color-300;
        }
    }

    .rights {
        max-width: 177px;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: $grey-500;
    }

    
}

.dismissable {
    position: absolute;
    bottom: 0;
    left: 75px;
}
